[core]
	excludesfile = /Users/Jialun/.gitignore_global
	editor = vim
[user]
	name = Jialun Bian
	email = Jialun.Bian@outlook.com
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --decorate --oneline
[merge]
	tool = vimdiff
	conflictstyle = diff3
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
[push]
	default = simple
[mergetool]
	prompt = false
[commit]
	cleanup = default
