[core]
	excludesfile = /Users/Jialun/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = pycq2002
	email = pycq2002@gmail.com
[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --decorate --oneline
[merge]
	tool = vimdiff
	conflictstyle = diff3
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
[push]
	default = simple
[mergetool]
	prompt = false
[commit]
	cleanup = default
